.roundedImage {
    border-radius: 10rem;
    width: 50px;
}

.loggedIn {
    display: -webkit-inline-box;
}

.username {
    margin: 5px;
    color: white;
}

@media only screen and (max-width: 575px){
    .username {
        margin-top: 7.5%;
    }
}