.myCard {
    width: 18rem;
    text-align: center;
    margin: 5px;
}

.myCard p {
    color: black;
}

.card {
    display: inline-table !important;
    border: none;
}

.mainResultDiv {
    margin-bottom: 15px;
}